<div class="signin-box">
  <div class="main">
    <h4 class="title">
      <div class="normal-title">
        <a class="active">登录</a>
      </div>
    </h4>
    <div class="js-sign-in-container">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="input-prepend restyle js-normal">
           <input [(ngModel)]="user.userName" required name="userName" type="text " autofocus class="form-control" placeholder="用户名">
          <i class="iconfont ic-user"></i>
        </div>
        <div class="input-prepend">
          <input [(ngModel)]="user.password" required name="password" type="password" class="form-control" placeholder="密码">
          <i class="iconfont ic-password"></i>
        </div>
        <input type="submit" name="commit" value="登录" class="sign-in-button">
         
      </form>
    </div>

  </div>
</div>
