  <div class="navbar-box navbar-skin">
    <div class="navbar-menu">
        <a  routerLink="/" class="navbar-item logo"   title="首页">
          han
        </a>
        <a routerLink="/"  class="navbar-item mobile" title="友链">
          <i class="fa fa-mobile"></i>
        </a>
    </div>   

    <div class="navbar-expanded">
        <div>
          <a class="navbar-item expanded-version"  title="angular版">
            <img src='//upload.jackhu.top/icons/angular2.png-32x32' /> 
          </a>
          <a class="navbar-item expanded-version" title="vue版">
            <img src='http://upload.jackhu.top/icons/vue.png-32x32' /> 
          </a>
          <a class="navbar-item change-mode" href="javascript:;"  >
            <i  class="fa fa-moon-o"></i>
            <i  class="fa fa-sun-o"></i>
          </a>
        </div>
        <div>
          <a routerLink="/login" class="navbar-item" title="登录">
            <i class="fa fa-sign-in"></i>
          </a>    
        </div>
    </div>

    <div class="navbar-shrink">
      <div  class="pull-right">
        <a routerLink="/login" class="shrink-login" title="登录">
            <i class="fa fa-sign-in"></i> 登录
        </a>
      </div>
      <div class="pull-right">
        <a class="navbar-item change-mode" href="javascript:;">
          <i  class="fa fa-moon-o"></i>
          <i  class="fa fa-sun-o"></i>
        </a>
      </div>
      <div class="pull-right">
        <a class="navbar-item expanded-version" title="vue版">
          <img src='//upload.jackhu.top/icons/vue.png-16x16' /> 
        </a>
      </div>
      <div class="pull-right">
        <a class="navbar-item expanded-version"  title="agnular版">
          <img src='//upload.jackhu.top/icons/angular2.png-16x16' /> 
        </a>
      </div>
    </div>
  </div>